<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="Riverside.Emerald"
    Publisher="CN=Riverside Valley, OID.2.25.311729368913984317654407730594956997722=1"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Emerald</DisplayName>
    <PublisherDisplayName>Riverside Valley</PublisherDisplayName>
    <Logo>Assets\AppsIcons\PackageLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Emerald"
        Description="Emerald" Square150x150Logo="Assets\AppsIcons\MediumTile.png" Square44x44Logo="Assets\AppsIcons\AppIcon.png">
        <uap:SplashScreen  Image="Assets\AppsIcons\SplashScreen.png"/>
        <uap:DefaultTile Square71x71Logo="Assets\AppsIcons\SmallTile.png" Wide310x150Logo="Assets\AppsIcons\WideTile.png" Square310x310Logo="Assets\AppsIcons\LargeTile.png"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
